body {

    margin: 0;
    padding: 0;
    background: #D7D7D7;
    font-family: arial

}

.header {

    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    
    background-color: #181717 ;
    background: #181717;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

}

.title_header {
    

    font-size: 28px;

    align-self: center; 
    justify-self: center;
}
.title1 {

    color: white;

}

.title1 > b {

    color: #9f6e29;

}

.logo_header > img {

    width: 100px;
    height: 100px;
    left: 23px;
    top: 14px;

    margin-top: 15px; 
    margin-left: 10px;
    
}

.logo_header {

    align-self: center;

}

.result {

    width: 250px;
    height: 100px;
    left: 595px;
    top: 668px;

    margin-top: -110px;
    margin-bottom: 80px;
    text-align: center;
    font-size: large;

    color: #d7d7d7dc;
    background: #181717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;


}

.content {

    width: 100%;
    height: 65vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  


}

.consuption_logo > img {

    width: 170px;
    height: 170px;
    margin-bottom: 25px;
}

.road_logo > img {

    width: 170px;
    height: 170px;
    margin-bottom: 25px;

}

.gstation_logo > img {

    width: 170px;
    height: 170px;
    margin-bottom: 25px;

}

.interact {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Fcons {

    width: 337px;
    height: 89px;
    left: 104px;
    top: 618px;
    text-align: center;

    
    color: #9F6E29;
    background: #181717;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.Kmdriven {

    width: 337px;
    height: 89px;
    left: 104px;
    top: 618px;
    text-align: center;


    color: #9F6E29;
    background: #181717;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.Fprice {

    width: 337px;
    height: 89px;
    left: 104px;
    top: 618px;
    text-align: center;

    color: #9F6E29;
    background: #181717;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}

.content_left {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content_center {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content_right {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.submit {

    width: 250px;
    height: 75px;
    left: 595px;
    top: 882px;

    cursor: pointer;
    font-size: 35px;
    color: #ffffff6e;
    background: #9F6E29;
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;

}

.content_below {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Rodape */

 .bottom {

    margin-top: 10vh;
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    
    background-color: #181717 ;
    background: #181717;
    box-shadow: 5px 4px 40px rgba(0, 0, 0, 0.25);

} 

.autor {
    margin-left: 10px;
    color: #D7D7D7;


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}